body{
    background-color: #efecec;
}
/* navigation part */
li {
  list-style: none;
}
nav {
  background-color: aqua;
}
.manu {
  font-size: 20px;
}
.manu:hover {
  color: white;
  cursor: pointer;
}

/* banner part */
.banner-container {

  width: 1200px;
  margin: auto;
  margin-top: 120px;
}
.banner {
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  background: linear-gradient(to right, aqua, #4b4b4b);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-left: 30px;
  padding-right: 50px;
}
.banner-right{
    margin-top: -120px;
}

/* servicer */
.service-heading{
    text-align: center;
    width: 1200px;
    margin: auto;
    padding: 100px;
}
.service-container{
    width: 1200px;
    margin: auto;
}
.doctors-container{
    display: flex;
    width: 1400px;
    margin: auto;
    margin-top: 70px;
}

/* doctors list */
.search{
   margin-bottom: 30px;
   width: 80%;
   padding: 15px;
   border-radius: 20px;
   background-color:cadetblue;
   border:none;
}
.search::placeholder{
    color: whitesmoke;
}
.doctor{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 15px;
    height: 380px;
    width: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}
.doctor:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.doctor img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
}
.specialization{
    font-weight: 500;
}

#spinner{
    display: none;
}

/* reviews */

.reviews-heading{
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}
.review-container{
    margin-top: 50px;
    width: 1200px;
    margin: auto;
    margin-bottom: 50px;
}
.review{
    margin-left: 20px;
    text-align: center;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 4px;
}
.review img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}